<div class="profile-info-container">
    <div class="percent">
        <div class="progress-container">
            <div class="progress-ring">
              <div class="progress-circle"></div>
                <div class="progress-fill" [style.clip-path]="clipPath">
                    
                </div>
                <div class="progress-text">{{ progress }}%</div>
            </div>
          </div>
    </div>

    <div class="info">
        <p>Profile <br> Informations</p>
        <div class="profile-info-btn">
            <button>Complete your profile</button>
        </div>
    </div>
</div>
