<div class="sidebar">
  <div class="side-bar-header">
    <img src="assets/logo.png" alt="" />
  </div>

  <div class="side-bar-body">
    <div class="items" [routerLink]="navigationLink.getLink('dashboardLink')">
      <div class="d-flex">
        <i class="fas fa-dashboard"></i>
        <p>Dashboard</p>
      </div>
    </div>

    <div class="items" [routerLink]="navigationLink.getLink('salesLink')">
      <div class="d-flex">
        <img class="salesIcon" src="../../../assets/salesSvg.svg" alt="" />
        <p>Sales</p>
      </div>
    </div>

    <div class="items" [routerLink]="navigationLink.getLink('purchaseLink')">
      <div class="d-flex">
        <i class="fas fa-receipt"></i>
        <p>Purchase</p>
      </div>
    </div>

    <div class="items" [routerLink]="navigationLink.getLink('INVLink')">
      <div class="d-flex">
        <i class="fas fa-boxes-stacking"></i>
        <p>Inventory</p>
      </div>
    </div>

    <div class="items" [routerLink]="navigationLink.getLink('LOGLink')">
      <div class="d-flex">
        <i class="fas fa-truck"></i>
        <p>Logistics</p>
      </div>
    </div>

    <div class="items" [routerLink]="navigationLink.getLink('procurementLink')">
      <div class="d-flex">
        <i class="fas fa-project-diagram"></i>
        <p>Procurement</p>
      </div>
    </div>

    <div class="items" [routerLink]="navigationLink.getLink('accountingLink')">
      <div class="d-flex">
        <i class="fas fa-file-invoice"></i>
        <p>Accounting</p>
      </div>
    </div>

    <div class="items" [routerLink]="navigationLink.getLink('hrLink')">
      <div class="d-flex">
        <i class="fas fa-users"></i>
        <p>Human Resource</p>
      </div>
    </div>

    <div class="items" [routerLink]="navigationLink.getLink('posLink')">
      <div class="d-flex">
        <i class="fas fa-people-group"></i>
        <p>POS</p>
      </div>
    </div>

    <div class="items" [routerLink]="navigationLink.getLink('checkoutLink')">
      <div class="d-flex">
        <i class="fas fa-people-group"></i>
        <p>Checkout</p>
      </div>
    </div>

    <div class="items" [routerLink]="navigationLink.getLink('crmLink')">
      <div class="d-flex">
        <i class="fas fa-people-group"></i>
        <p>CRM</p>
      </div>
    </div>
    <div class="items" [routerLink]="navigationLink.getLink('expensesLink')">
      <div class="d-flex">
        <img
          class="salesIcon"
          src="../../../../../assets/budget-svgrepo-com.svg"
          alt=""
        />

        <p>Expenses</p>
      </div>
    </div>

    <div class="items" [routerLink]="navigationLink.getLink('VMLink')">
      <div class="d-flex">
        <i class="fas fa-building-user"></i>
        <p>Vendor Management</p>
      </div>
    </div>

    <div class="items" [routerLink]="navigationLink.getLink('RALink')">
      <div class="d-flex">
        <i class="fas fa-chart-bar"></i>
        <p>Report and Analysis</p>
      </div>
    </div>

    <div class="items" [routerLink]="navigationLink.getLink('settingsLink')">
      <div class="d-flex">
        <i class="fas fa-gears"></i>
        <p>Settings</p>
      </div>
    </div>

  </div>


</div>

