<!-- <div class="container">
    <div class="main"><div *ngIf="item">
        <h2>Item</h2>
        <p><strong>Product name:</strong> {{ item.itemName }}</p>
        <p><strong>Part No:</strong> {{ item.partNo }}</p>
        <p class="des"><strong>Description:</strong> {{ item.description | stripHtml}}</p>
        <p><strong>Images</strong></p>
        <div class="image-wrapper">
            <div *ngFor="let image of item.images; let i = index" class="image-container">
                <img [src]="image" alt="{{ item.itemName }}" class="item-image{{ i + 1 }}"/>
            </div>
        </div>
    
      </div></div>
</div> -->
