.image-container {
    height: 70px;
    width: 100%;
    // background-image: url(../../../assets/footer.png);
    // background-position: center;
    // background-repeat: no-repeat;

    img{
        width: 100%;
    }
}