<div class='header'>

    <!-- <div class="header-center">      
      <div class="searchbar-container">
        <app-searchbar></app-searchbar>
      </div>
    </div> -->

    <div class="items hamburger" >
      <button class="hamburger-icon" (click)="onToggleSidebar()">
        <i *ngIf="sidebarHidden" class="pi pi-bars"></i>
        <i *ngIf="!sidebarHidden" class="pi pi-bars"></i> 
        <!-- <i *ngIf="!sidebarHidden" class="pi pi-times"></i>  -->
      </button>
    </div>

    <div class="header-end">
        <!-- <div class="items"><p>Contacts</p></div> -->
        <div class="items">
          <i class="fas fa-bell"></i>
        </div>
        <div class="items"><i class="fas fa-message"></i></div>
        <div (click)="op.toggle($event)" class="items profile-item">
            <div class="profile-img-container">
                <img src='assets/profile.jpg' alt=""  class='profile-img' />
            </div>
            <div class="profile-name">
                <p class="name">{{
                  userRegData.username
              }}</p>
                <!-- <p class="status">{{userRegData.roles}}</p> -->
            </div>
        </div>
        <p-overlayPanel #op>
          <div class="panel-container">
            <div class="profile-name">
              <h3 class="name-2">{{
                userRegData.username
            }}</h3>
              <!-- <h4 class="status-2">{{userRegData.roles}}</h4> -->
              <h5 class="my-2"><strong>ID: </strong>{{userRegData.accountId}}</h5>
            </div>
              <p-divider></p-divider>
              <div>
                <h4 routerLink="/settings" class="settings"><i class="pi pi-cog"></i>Settings</h4>
                <h4 (click)="logout()" class="logout"><i class="pi pi-sign-out"></i> Sign Out</h4>
              </div>
            </div>
        </p-overlayPanel>
    </div>

<!-- 
    <div class="items hamburger" >
      <button class="hamburger-icon" (click)="onToggleSidebar()">
      &#9776;
      </button>
    </div> -->
</div>